<nz-table
  #basicTable
  [nzData]="thisWordBook.wordList"
  [nzPageSize]="50"
  [nzScroll]="{ y: '500px' }"
>
  <thead>
    <tr>
      <th>Từ mới</th>
      <th>Ý nghĩa</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data">
      <td>{{ data.word }}</td>
      <td>{{ data.mean }}</td>
      <td>
        <a>Action 一 {{ data.word }}</a>
        <nz-divider nzType="vertical"></nz-divider>
        <a>Delete</a>
      </td>
    </tr>
  </tbody>
</nz-table>
