<div class="header">
    <div class="nav">
        <ul class="nav-list">
            <li class="nav-item">
                <a routerLink="dashboard"><i class="fa-solid fa-house"></i>Trang chủ</a>
            </li>
            <li class="nav-item">
                <a routerLink="my-wordbooks"><i class="fa-solid fa-house"></i>Vào học</a
        >
      </li>
      <li class="nav-item">
        <a routerLink="analysis"><i class="fa-solid fa-house"></i>Thống kê</a>
            </li>
            <li class="nav-item">
                <a routerLink="community"><i class="fa-solid fa-house"></i>Cộng đồng</a>
            </li>
            <li class="nav-item">
                <a routerLink="created-wordbooks"><i class="fa-solid fa-house"></i>Sổ tay của tôi</a
        >
      </li>
    </ul>
    <ul class="user-info">
      <li class="nav-item nav-avatar">
        <img
          src="https://i.postimg.cc/Z5wQKJmh/fchunters.png"
          alt="Avatar"
          class="nav-avatar__img"
        />
        <b class="nav-avatar__name">Lê Đức Huy</b>
        <i class="fa-solid fa-caret-down"></i>
        <ul>
          <li>
            <a routerLink="personal-information"
              ><i class="fa-solid fa-user"></i>Thông tin cá nhân</a
            >
          </li>
          <li>
            <a routerLink="home"
              ><i class="fa-solid fa-right-from-bracket"></i>Đăng xuất</a
            >
          </li>
        </ul>
      </li>
      <li class="nav-item">
        <b>Tổng số từ đã học: 105</b>
      </li>
    </ul>
  </div>
</div>
<div class="container">
  <router-outlet></router-outlet>
</div>