<div>
    <div class="user__current">
        <nz-avatar [nzSize]="64" nzIcon="user" nzSrc="https://i.postimg.cc/Z5wQKJmh/fchunters.png"></nz-avatar>

        <div class="user-in4">
            <h1 class="name"> Lê Đức Huy</h1>
            <p class="email">asasasd@gmail.com</p>
        </div>
    </div>
    <div class="user-detail__current">
        <div nz-row [nzGutter]="[16, 24]">
            <div nz-col class="gutter-row" [nzSpan]="12">
                <label for=""> Name </label>
                <div class="inner-box">HuyIT</div>
            </div>
            <div nz-col class="gutter-row" [nzSpan]="12">
                <label for=""> Full name </label>
                <div class="inner-box">Lê Đức Huy </div>
            </div>
            <div nz-col class="gutter-row" [nzSpan]="12">
                <label for="">  Email Address </label>
                <div class="inner-box">huy@gmail.com</div>
            </div>
            <div nz-col class="gutter-row" [nzSpan]="12">
                <label for="">User Id</label>
                <div class="inner-box">16</div>
            </div>
            <div nz-col class="gutter-row" [nzSpan]="12">
                <label for=""> Total Course </label>
                <div class="inner-box">21</div>
            </div>
            <div nz-col class="gutter-row" [nzSpan]="12">
                <label for="">Rating</label>
                <div class="inner-box">5</div>
            </div>
        </div>
    </div>
</div>