
.dashboard-container {
  display: flex;
  flex-direction: row;
}

/* .left-sidebar */

.rank-container {
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
}

.rank__label {
  /* width: 100%; */
  text-align: center;
}

.rank__body {
  /* display: flex;
  flex-direction: row; */
}

.rank-users__detail {
  display: flex;
  flex-direction: row;
  margin: 10px;
  align-items: center;
}

.user-avatar {
  /* height: 120px; */
}
