<div class="dashboard-container">
  <div class="left-sidebar">
    <div class="rank-container">
      <div class="rank__label">Bảng xếp hạng từ mới</div>
      <div class="rank__body">
        <div class="rank-users__list">
          <div class="rank-users__detail">
            <div class="rank-number">1</div>
            <div class="user-avatar">
              <img
                src="https://i.postimg.cc/Z5wQKJmh/fchunters.png"
                alt=""
                height="50"
              />
            </div>
            <div class="user-name">Lê Đức Huy</div>
            <div class="user-word">15</div>
          </div>
          <div class="rank-users__detail">
            <div class="rank-number">2</div>
            <div class="user-avatar">
              <img
                src="https://i.postimg.cc/Z5wQKJmh/fchunters.png"
                alt=""
                height="50"
              />
            </div>
            <div class="user-name">Lê Đức Huy 2</div>
            <div class="user-word">12</div>
          </div>
        </div>
      </div>
    </div>
    <div class="main-content"></div>
  </div>
</div>
