
.dashboard-container {
  display: flex;
  flex-direction: row;
}

.left-sidebar {
  flex-basis: 25%;
}

.main-content {
  flex-basis: 75%;
}

.rank__label {
  margin-top: 12px;
}

.rank__body {
  margin: 12px;
}

.rank-container .rank-users__list {
  overflow: scroll;
  height: 520px;
}

.rank-container {
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
}

.rank__label {
  /* width: 100%; */
  text-align: center;
  font-weight: 700;
  font-size: 20px;
}

.rank__body {
  /* display: flex;
  flex-direction: row; */
}

.rank-users__detail {
  display: flex;
  flex-direction: row;
  margin: 10px;
  align-items: center;
  font-size: 16px;
}

.rank-number {
  flex-basis: 10%;
  font-weight: 700;
}

.user-avatar {
  flex-basis: 25%;
  border-radius: 50%;
}

.user-name {
  flex-basis: 55%;
  font-weight: 700;
}

.user-word {
  flex-basis: 10%;
  color: gray;
}

/* main */

/* achievement-summary */


.achievement-summary .achievement__img img {
  height: 100px;
  width: 100px;
}

.achievement-summary .achievement__list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.achievement-summary .achievement__detail {
  display: flex;
  flex-direction: column;
  align-items: center;
}



/* day-summary */
.day-summary .day-summary__progress .progress__body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.day-summary .day-summary__progress .progress__line {
  flex-basis: 70%;
}

.day-summary .day-summary__progress .progress__text {
  flex-basis: 25%;
}

.motivation {
  font-weight: 600;
}
