<nz-layout>
    <nz-content>

        <b>Danh sách các khóa học đang học</b>
        <div>
            Khóa học 1
            <div class="learn-list">
                <div class="gutter-example">
                    <label for="">Gần đây</label>
                    <div nz-row [nzGutter]="[hGutter, vGutter]" style="padding: 85px;">

                        <div nz-col class="gutter-row" [nzSpan]="24 / count" *ngFor="let courseDetail of userCourseDetail">
                            <a routerLink="../../learn/word-detail">
                                <div class="grid-config">
                                    <div class="course-container">

                                        <div class="course-title">

                                            課題： {{courseDetail.courseContent}}
                                        </div>
                                        <div class="course-total">
                                            Total word ： {{courseDetail.courseTotal}}
                                        </div>
                                        <div class="course-author">
                                            <div class="course-image">
                                                <nz-avatar nzIcon="user"></nz-avatar>
                                            </div>
                                            <div class="course-author__name">{{courseDetail.courseAuthor}}</div>
                                        </div>
                                        <div class="course-rating">

                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="learn-container">
            <router-outlet></router-outlet>
        </div>
    </nz-content>
</nz-layout>