<nz-layout>
  <nz-content>
    <b class="medium-label m-24 p-24">Danh sách các khóa học đang học</b>
    <div>
      <div class="learn-list">
        <div class="gutter-example">
          <label class="small-label p-24 m-24" for="">Gần đây</label>
          <div nz-row [nzGutter]="[hGutter, vGutter]" style="padding: 85px">
            <div
              nz-col
              class="gutter-row"
              [nzSpan]="24 / count"
              *ngFor="let wordBookDetail of allWordBook"
            >
              <!-- <a routerLink="../../learn/word-list/"  -->
              <a (click)="goToDetailWord(wordBookDetail)">
                <div class="grid-config">
                  <div class="course-container">
                    <div class="course-title">
                      課題： {{ wordBookDetail.name }}
                    </div>
                    <div class="course-total">
                      Total word ： {{ wordBookDetail.wordList.length }}
                    </div>
                    <div class="course-author">
                      <div class="course-image">
                        <nz-avatar nzIcon="user"></nz-avatar>
                      </div>
                      <div class="course-author__name">
                        {{ wordBookDetail.name }}
                      </div>
                    </div>
                    <div class="course-rating"></div>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="learn-container">
      <router-outlet></router-outlet>
    </div>
  </nz-content>
</nz-layout>
