<nz-layout>

    <nz-content class="outer-content">
        <nz-breadcrumb>
            <nz-breadcrumb-item>Home</nz-breadcrumb-item>
            <nz-breadcrumb-item>Personal information</nz-breadcrumb-item>

        </nz-breadcrumb>
        <nz-layout class="inner-layout">
            <nz-sider nzWidth="200px" nzTheme="light">
                <ul nz-menu nzMode="inline" class="sider-menu">
                    <li nz-submenu nzOpen nzTitle="User Infor" nzIcon="user">
                        <ul>

                            <li nz-menu-item><a routerLink="/info-detail">Infor</a></li>
                            <li nz-menu-item><a routerLink="/infor-course">My course</a></li>

                        </ul>
                    </li>

                </ul>
            </nz-sider>
            <nz-content class="inner-content">
                <app-info-detail></app-info-detail>
                <router-outlet></router-outlet>
            </nz-content>
        </nz-layout>
        <nz-footer>Japanese learn ©2022 Designed By New Man</nz-footer>
    </nz-content>
</nz-layout>